## This is a notebook that explores the file which is the result of the bash script, that merges trips and leavetimes with one another

In [1]:
import pandas as pd
import os, sys


#reading in data
file_dir = os.path.dirname(os.path.abspath("__file__"))
parent_dir = os.path.dirname(file_dir)
newPath = os.path.join(parent_dir, 'bus_lines/bus_66_merge.csv')


df = pd.read_csv(newPath,  delimiter=',', index_col=False)

In [2]:
df.head(5)

,LineID,Direction,RouteID,DayOfService,TripID,ProgrNumber,StopPointID,PlannedTime_Arr,PlannedTime_Dep,ActualTime_Arr,ActualTime_Dep
0,66,1,66_11,2017-01-03,4084361,33,2218,39411,39411,38673,38673
1,66,1,66_11,2017-01-03,4084368,30,2216,69044,69044,68235,68235
2,66,1,66_11,2017-01-03,4084370,33,2218,32185,32185,31840,31840
3,66,1,66_11,2017-01-03,4084398,36,3366,80601,80601,80693,80693
4,66,1,66_11,2017-01-03,4084400,58,3918,44530,44530,44452,44452

In [13]:
df.sort_values(['TripID', 'DayOfService', 'ProgrNumber'], ascending=[True, True,True])

,LineID,Direction,RouteID,DayOfService,TripID,ProgrNumber,StopPointID,PlannedTime_Arr,PlannedTime_Dep,ActualTime_Arr,ActualTime_Dep
181276,66,1,66_16,2017-01-03,4084264,24,2215,65870,65870,65054,65054
181277,66,1,66_16,2017-01-03,4084264,29,2219,66160,66160,65354,65364
181278,66,1,66_16,2017-01-03,4084264,34,3887,66429,66429,65631,65631
181279,66,1,66_16,2017-01-03,4084264,39,3955,66721,66721,65886,65886
181280,66,1,66_16,2017-01-03,4084264,44,3960,66994,66994,66108,66108
181281,66,1,66_16,2017-01-03,4084264,49,3965,67268,67268,66350,66350
181282,66,1,66_16,2017-01-03,4084264,54,5114,67891,67891,66809,66809
181283,66,1,66_16,2017-01-10,4084264,1,346,63600,63600,63850,63850
181284,66,1,66_16,2017-01-10,4084264,2,317,63774,63774,63850,63961
181285,66,1,66_16,2017-01-10,4084264,3,312,64143,64143,64132,64186
181286,66,1,66_16,2017-01-10,4084264,4,1444,64282,64282,64257,64257
181287,66,1,66_16,2017-01-10,4084264,5,1445,64367,64367,64345,64358
181288,66,1,66_16,2017-01-10,4084264,6,7078,64564,64564,64578,64618
181289,66,1,66_16,2017-01-10,4084264,7,1449,64666,64666,64707,64724
181290,66,1,66_16,2017-01-10,4084264,8,1450,64713,64713,64756,64774
181291,66,1,66_16,2017-01-10,4084264,9,1451,64754,64754,64807,64837
181292,66,1,66_16,2017-01-10,4084264,10,2191,64899,64899,64978,65000
181293,66,1,66_16,2017-01-10,4084264,11,2192,64935,64935,65035,65035
181294,66,1,66_16,2017-01-10,4084264,12,2193,64973,64973,65075,65075
181295,66,1,66_16,2017-01-10,4084264,13,2194,64995,64995,65097,65097
181296,66,1,66_16,2017-01-10,4084264,14,2195,65035,65035,65141,65141
181297,66,1,66_16,2017-01-10,4084264,15,2196,65100,65100,65166,65188
181298,66,1,66_16,2017-01-10,4084264,16,2197,65182,65182,65285,65317
181299,66,1,66_16,2017-01-10,4084264,17,2198,65268,65268,65364,65374
181300,66,1,66_16,2017-01-10,4084264,18,2200,65313,65313,65408,65423
181301,66,1,66_16,2017-01-10,4084264,19,2201,65540,65540,65588,65599
181302,66,1,66_16,2017-01-10,4084264,20,7239,65598,65598,65680,65680
181303,66,1,66_16,2017-01-10,4084264,21,4401,65639,65639,65708,65721
181304,66,1,66_16,2017-01-10,4084264,22,2213,65756,65756,65825,65869
181305,66,1,66_16,2017-01-10,4084264,23,2214,65818,65818,65914,65926
...,...,...,...,...,...,...,...,...,...,...,...
346767,66,2,66_13,2017-06-30,5117541,23,2234,59589,59589,59452,59467
346768,66,2,66_13,2017-06-30,5117541,24,2235,59615,59615,59495,59495
346769,66,2,66_13,2017-06-30,5117541,25,2236,59682,59682,59537,59537
346770,66,2,66_13,2017-06-30,5117541,26,2237,59693,59693,59543,59543
346771,66,2,66_13,2017-06-30,5117541,27,2238,59708,59708,59558,59558
346772,66,2,66_13,2017-06-30,5117541,28,5056,59731,59731,59572,59572
346773,66,2,66_13,2017-06-30,5117541,29,2239,59851,59851,59681,59749
346774,66,2,66_13,2017-06-30,5117541,30,2241,59976,59976,59848,59859
346775,66,2,66_13,2017-06-30,5117541,31,2242,60015,60015,59889,59898
346776,66,2,66_13,2017-06-30,5117541,32,2243,60113,60113,59990,59990
346777,66,2,66_13,2017-06-30,5117541,33,2244,60155,60155,60012,60012
346778,66,2,66_13,2017-06-30,5117541,34,2245,60198,60198,60036,60055
346779,66,2,66_13,2017-06-30,5117541,35,2246,60267,60267,60149,60173
346780,66,2,66_13,2017-06-30,5117541,36,2247,60332,60332,60252,60263
346781,66,2,66_13,2017-06-30,5117541,37,2248,60368,60368,60306,60306
346782,66,2,66_13,2017-06-30,5117541,38,2249,60395,60395,60333,60346
346783,66,2,66_13,2017-06-30,5117541,39,2250,60419,60419,60381,60381
346784,66,2,66_13,2017-06-30,5117541,40,2251,60466,60466,60401,60401
346785,66,2,66_13,2017-06-30,5117541,41,1472,60519,60519,60491,60491
346786,66,2,66_13,2017-06-30,5117541,42,4408,60552,60552,60513,60513
346787,66,2,66_13,2017-06-30,5117541,43,1473,60570,60570,60532,60532
346788,66,2,66_13,2017-06-30,5117541,44,1474,60651,60651,60576,60602
346789,66,2,66_13,2017-06-30,5117541,45,1476,60732,60732,60783,60795
346790,66,2,66_13,2017-06-30,5117541,46,7453,60842,60842,60920,60931
346791,66,2,66_13,2017-06-30,5117541,47,1478,60935,60935,61018,61028
346792,66,2,66_13,2017-06-30,5117541,48,1479,60998,60998,61156,61184
346793,66,2,66_13,2017-06-30,5117541,49,315,61302,61302,61522,61597
346794,66,2,66_13,2017-06-30,5117541,51,406,61504,61504,62051,62076
346795,66,2,66_13,2017-06-30,5117541,52,2810,61613,61613,62317,62337
346796,66,2,66_13,2017-06-30,5117541,53,7387,61658,61658,62376,62376