In [109]:
import pandas as pd
import os, sys


#reading in data
file_dir = os.path.dirname(os.path.abspath("__file__"))
parent_dir = os.path.dirname(file_dir)
newPath = os.path.join(parent_dir, 'bus_lines/bus_66_trips.csv')


dftrips = pd.read_csv(newPath,  delimiter=',', index_col=False)

In [110]:
#reading in full historic weather data
file_dir = os.path.dirname(os.path.abspath("__file__"))
parent_dir = os.path.dirname(file_dir)
newPath = os.path.join(parent_dir, 'bus_lines/bus_66_lt.csv')


dfleavetimes = pd.read_csv(newPath, delimiter=',', index_col=False)

In [111]:
df = pd.merge(dfleavetimes, dftrips, how='left', on=['TripID', 'DayOfService'], suffixes=('_leave', '_trips'))

In [112]:
print("Trips shape:")
dftrips.shape

Trips shape:

(11560, 9)

In [113]:
print("Leavetimes shape:")
dfleavetimes.shape

Leavetimes shape:

(349291, 9)

In [114]:
df.shape

(349291, 16)

In [115]:
file_dir = os.path.dirname(os.path.abspath("__file__"))
parent_dir = os.path.dirname(file_dir)
newPath = os.path.join(parent_dir, '/home/student/data/weather/2017weatherClean.csv')


dfW17 = pd.read_csv(newPath, delimiter=',')

In [116]:
#Only keeping the columns that we want
dfW17  = dfW17[['dt','temp','pressure','humidity','wind_speed','weather_description','clouds_all','wind_deg']]

In [117]:
#We want to look at only one direction
df = df.loc[(df['Direction'] == 1)]

In [118]:
df = df[['DayOfService', 'TripID', 'ProgrNumber', 'StopPointID', 'PlannedTime_Arr_leave', 'ActualTime_Arr_leave', 'RouteID']]

In [119]:
import numpy as np
import datetime as dt
month = pd.to_datetime(df['DayOfService']).dt.month
month = pd.DataFrame(data={'month':month})
month['month'] = month['month'].astype(np.int64)


day = pd.to_datetime(df['DayOfService']).dt.day
day = pd.DataFrame(data={'day':day})
day['day'] = day['day'].astype(np.int64)

dayofweek = pd.to_datetime(df['DayOfService']).dt.dayofweek
dayofweek = pd.DataFrame(data={'dayofweek':dayofweek})
dayofweek['dayofweek'] = dayofweek['dayofweek'].astype(np.int64)

dt = pd.DatetimeIndex(df['DayOfService']).astype(np.int64)/1000000000 + df['ActualTime_Arr_leave']
dt = pd.DataFrame(data={'dt':dt})
dt['dt'] = dt['dt'].astype(np.int64)

In [120]:
df = pd.concat([dt, month, day, dayofweek, df], axis =1)

In [121]:
df.head()

,dt,month,day,dayofweek,DayOfService,TripID,ProgrNumber,StopPointID,PlannedTime_Arr_leave,ActualTime_Arr_leave,RouteID
0,1483466269,1,3,1,2017-01-03,4084264,19,2201,65540,64669,66_16
1,1483466654,1,3,1,2017-01-03,4084264,24,2215,65870,65054,66_16
2,1483466954,1,3,1,2017-01-03,4084264,29,2219,66160,65354,66_16
3,1483467231,1,3,1,2017-01-03,4084264,34,3887,66429,65631,66_16
4,1483467486,1,3,1,2017-01-03,4084264,39,3955,66721,65886,66_16

In [122]:
df['delay'] = df['ActualTime_Arr_leave'] - df['PlannedTime_Arr_leave']

In [123]:
df.dtypes

dt                        int64
month                     int64
day                       int64
dayofweek                 int64
DayOfService             object
TripID                    int64
ProgrNumber               int64
StopPointID               int64
PlannedTime_Arr_leave     int64
ActualTime_Arr_leave      int64
RouteID                  object
delay                     int64
dtype: object

In [125]:
df = df.sort_values('dt')
r = pd.merge_asof(df, dfW17, on = "dt",direction='nearest')

,dt,month,day,dayofweek,DayOfService,TripID,ProgrNumber,StopPointID,PlannedTime_Arr_leave,ActualTime_Arr_leave,RouteID,delay,temp,pressure,humidity,wind_speed,weather_description,clouds_all,wind_deg
184360,1498866214,6,30,4,2017-06-30,5102617,13,1450,85053,85414,66_11,361,281.15,1017,93,4,Sky is Clear,0,270
184361,1498866236,6,30,4,2017-06-30,5102617,14,1451,85077,85436,66_11,359,281.15,1017,93,4,Sky is Clear,0,270
184362,1498866242,6,30,4,2017-06-30,5103782,57,5113,84862,85442,66_11,580,281.15,1017,93,4,Sky is Clear,0,270
184363,1498866298,6,30,4,2017-06-30,5102617,15,2191,85117,85498,66_11,381,281.15,1017,93,4,Sky is Clear,0,270
184364,1498866325,6,30,4,2017-06-30,5102617,16,2192,85141,85525,66_11,384,281.15,1017,93,4,Sky is Clear,0,270
184365,1498866353,6,30,4,2017-06-30,5103782,58,3918,84947,85553,66_11,606,281.15,1017,93,4,Sky is Clear,0,270
184366,1498866359,6,30,4,2017-06-30,5102617,17,2193,85170,85559,66_11,389,281.15,1017,93,4,Sky is Clear,0,270
184367,1498866409,6,30,4,2017-06-30,5102617,18,2194,85189,85609,66_11,420,281.15,1017,93,4,Sky is Clear,0,270
184368,1498866455,6,30,4,2017-06-30,5102617,19,2195,85223,85655,66_11,432,281.15,1017,93,4,Sky is Clear,0,270
184369,1498866458,6,30,4,2017-06-30,5103782,59,5114,85010,85658,66_11,648,281.15,1017,93,4,Sky is Clear,0,270
184370,1498866510,6,30,4,2017-06-30,5102617,20,2196,85260,85710,66_11,450,281.15,1017,93,4,Sky is Clear,0,270
184371,1498866580,6,30,4,2017-06-30,5102617,21,2197,85306,85780,66_11,474,281.15,1017,93,4,Sky is Clear,0,270
184372,1498866614,6,30,4,2017-06-30,5102617,22,2198,85355,85814,66_11,459,281.15,1017,93,4,Sky is Clear,0,270
184373,1498866640,6,30,4,2017-06-30,5102617,23,2200,85381,85840,66_11,459,281.15,1017,93,4,Sky is Clear,0,270
184374,1498866751,6,30,4,2017-06-30,5102617,24,2201,85499,85951,66_11,452,281.15,1017,93,4,Sky is Clear,0,270
184375,1498866788,6,30,4,2017-06-30,5102617,25,7239,85529,85988,66_11,459,281.15,1017,93,4,Sky is Clear,0,270
184376,1498866818,6,30,4,2017-06-30,5102617,26,4401,85550,86018,66_11,468,281.15,1017,93,4,Sky is Clear,0,270
184377,1498866915,6,30,4,2017-06-30,5102617,27,2213,85663,86115,66_11,452,281.15,1017,93,4,Sky is Clear,0,270
184378,1498866980,6,30,4,2017-06-30,5102617,28,2214,85705,86180,66_11,475,281.15,1017,93,4,Sky is Clear,0,270
184379,1498867023,6,30,4,2017-06-30,5102617,29,2215,85750,86223,66_11,473,281.15,1017,93,4,Sky is Clear,0,270
184380,1498867072,6,30,4,2017-06-30,5102617,30,2216,85782,86272,66_11,490,281.15,1017,93,4,Sky is Clear,0,270
184381,1498867111,6,30,4,2017-06-30,5102617,31,4599,85842,86311,66_11,469,281.15,1017,93,4,Sky is Clear,0,270
184382,1498867172,6,30,4,2017-06-30,5102617,32,2217,85881,86372,66_11,491,281.15,1017,93,4,Sky is Clear,0,270
184383,1498867216,6,30,4,2017-06-30,5102617,33,2218,85916,86416,66_11,500,281.15,1017,93,4,Sky is Clear,0,270
184384,1498867238,6,30,4,2017-06-30,5102617,34,2219,85944,86438,66_11,494,281.15,1017,93,4,Sky is Clear,0,270
184385,1498867254,6,30,4,2017-06-30,5102617,35,3365,85961,86454,66_11,493,281.15,1017,93,4,Sky is Clear,0,270
184386,1498867276,6,30,4,2017-06-30,5102617,36,3366,85983,86476,66_11,493,281.15,1017,93,4,Sky is Clear,0,270
184387,1498867319,6,30,4,2017-06-30,5102617,37,3367,86039,86519,66_11,480,281.15,1017,93,4,Sky is Clear,0,270
184388,1498867399,6,30,4,2017-06-30,5102617,38,3886,86078,86599,66_11,521,281.15,1017,93,4,Sky is Clear,0,270
184389,1498867428,6,30,4,2017-06-30,5102617,39,3887,86117,86628,66_11,511,281.15,1017,93,4,Sky is Clear,0,270
184390,1498867452,6,30,4,2017-06-30,5102617,40,3888,86150,86652,66_11,502,281.15,1017,93,4,Sky is Clear,0,270
184391,1498867527,6,30,4,2017-06-30,5102617,41,7186,86217,86727,66_11,510,281.15,1017,93,4,Sky is Clear,0,270
184392,1498867538,6,30,4,2017-06-30,5102617,42,7187,86237,86738,66_11,501,281.15,1017,93,4,Sky is Clear,0,270
184393,1498867618,6,30,4,2017-06-30,5102617,43,3954,86324,86818,66_11,494,281.15,1017,93,4,Sky is Clear,0,270
184394,1498867635,6,30,4,2017-06-30,5102617,44,3955,86341,86835,66_11,494,281.15,1017,93,4,Sky is Clear,0,270
184395,1498867642,6,30,4,2017-06-30,5102617,45,3956,86356,86842,66_11,486,281.15,1017,93,4,Sky is Clear,0,270
184396,1498867683,6,30,4,2017-06-30,5102617,46,3957,86395,86883,66_11,488,281.15,1017,93,4,Sky is Clear,0,270
184397,1498867750,6,30,4,2017-06-30,5102617,47,3958,86428,86950,66_11,522,281.15,1017,93,4,Sky is Clear,0,270
184398,1498867804,6,30,4,2017-06-30,5102617,48,3959,86469,87004,66_11,535,281.15,1017,93,4,Sky is Clear,0,270
184399,1498867840,6,30,4,2017-06-30,5102617,49,3960,86507,87040,66_11,533,281.15,1017,93,4,Sky is Clear,0,270
184400,1498867884,6,30,4,2017-06-30,5102617,50,3961,86537,87084,66_11,547,281.15,1017,93,4,Sky is Clear,0,270
184401,1498867940,6,30,4,2017-06-30,5102617,51,3962,86585,87140,66_11,555,281.15,1017,93,4,Sky is Clear,0,270
184402,1498867998,6,30,4,2017-06-30,5102617,52,3963,86615,87198,66_11,583,281.15,1017,93,4,Sky is Clear,0,270
184403,1498868049,6,30,4,2017-06-30,5102617,53,3964,86652,87249,66_11,597,281.15,1017,93,4,Sky is Clear,0,270
184404,1498868079,6,30,4,2017-06-30,5102617,54,3965,86683,87279,66_11,596,281.15,1017,93,4,Sky is Clear,0,270
184405,1498868180,6,30,4,2017-06-30,5102617,55,3968,86790,87380,66_11,590,281.15,1017,93,4,Sky is Clear,0,270
184406,1498868345,6,30,4,2017-06-30,5102617,56,3966,86928,87545,66_11,617,281.15,1017,93,4,Sky is Clear,0,270
184407,1498868400,6,30,4,2017-06-30,5102617,57,5113,86962,87600,66_11,638,281.15,1017,93,4,Sky is Clear,0,270
184408,1498868511,6,30,4,2017-06-30,5102617,58,3918,87047,87711,66_11,664,281.15,1017,93,4,Sky is Clear,0,270
184409,1498868577,6,30,4,2017-06-30,5102617,59,5114,87110,87777,66_11,667,281.15,1017,93,4,Sky is Clear,0,270

In [131]:
binary_weather = pd.get_dummies(r['weather_description'])
r = pd.concat([r, binary_weather], axis=1)

In [135]:
r.head(5)

,dt,month,day,dayofweek,DayOfService,TripID,ProgrNumber,StopPointID,PlannedTime_Arr_leave,ActualTime_Arr_leave,...,light intensity drizzle rain,light intensity shower rain,light rain,light shower sleet,mist,moderate rain,overcast clouds,proximity shower rain,scattered clouds,shower rain
0,1483425749,1,3,1,2017-01-03,4084431,2,493,24088,24149,...,0,0,0,0,0,0,0,0,0,0
1,1483426217,1,3,1,2017-01-03,4084431,8,312,24733,24617,...,0,0,0,0,0,0,0,0,0,0
2,1483426762,1,3,1,2017-01-03,4084431,18,2194,25463,25162,...,0,0,0,0,0,0,0,0,0,0
3,1483426952,1,3,1,2017-01-03,4084431,22,2198,25710,25352,...,0,0,0,0,0,0,0,0,0,0
4,1483427105,1,3,1,2017-01-03,4084431,25,7239,25955,25505,...,0,0,0,0,0,0,0,0,0,0

In [141]:
r['time'] =

AttributeError: 'DataFrame' object has no attribute 'strftime'

In [134]:
r.to_csv('result_of_66-dir1Model.csv')