In [2]:
# import realted module
import pandas as pd
import numpy as np

# read the file
leave16= pd.read_csv('F:/leave16.csv',header=None, delimiter=',', 
                     names = ['dayofservice','tripid','progrnumber','stoppointid','plannedtime_arr','plannedtime_dep','actualtime_arr','actualtime_dep','suppressed'])

In [2]:
# Check the rows and columns number of the table
leave16.shape

(56843319, 9)

In [3]:
# Get an overview of the table
leave16.head()

,dayofservice,tripid,progrnumber,stoppointid,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,suppressed
0,2016-01-31,2811044,63,3390,41820,41820,42920,42920,NaN
1,2016-01-31,2820852,1,7158,69300,69300,69320,69320,NaN
2,2016-01-31,2820852,5,7017,69498,69498,69532,69532,NaN
3,2016-01-31,2820852,10,1893,69711,69711,69858,69858,NaN
4,2016-01-31,2820853,16,1648,76822,76822,76636,76657,NaN

In [3]:
# Read the trips file
trips16 = pd.read_csv('F:/trips16.csv', delimiter=',')

# Check the shape of the table
trips16.shape

(928098, 10)

In [5]:
trips16['lineid'].unique()

array(['145', '9', '54A', '7', '39', '56A', '37', '11', '63', '122',
       '39A', '70', '42', '40D', '32', '31A', '40', '67', '40B', '41C',
       '38A', '123', '14', '15', '76', '66A', '79A', '17A', '77A', '27A',
       '7B', '270', '140', '16', '66', '66X', '4', '25B', '25A', '38',
       '239', '49', '17', '27B', '65B', '15B', '84X', '185', '46A', '45A',
       '15A', '33X', '102', '18', '47', '33', '83A', '83', '66B', '114',
       '75', '27', '31', '120', '41', '130', '1', '150', '65', '13',
       '69X', '44', '69', '68', '26', '59', '61', '33B', '184', '43',
       '79', '238', '84', '53', '104', '151', '68A', '41X', '16C', '33A',
       '41B', '25', '25D', '29A', '38B', '67X', '31B', '84A', '220', '7D',
       '51D', '25X', '46E', '32X', '236', '8', '51X', '38D', '44B', '161',
       '27X', '76A', '142', '111', '116', '77X', '14C', '41A', '118',
       '757'], dtype=object)

In [5]:
# Get an overview of the trips table
trips16.head()

,dayofservice,tripid,lineid,routeid,direction,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,suppressed
0,2016-02-09,2824642,145,145_105,2,45668,40800,45375.0,40782.0,NaN
1,2016-02-09,2826717,9,9_7,2,65553,60600,66258.0,60582.0,NaN
2,2016-02-09,2826730,54A,54A_12,2,65951,62100,66053.0,62078.0,NaN
3,2016-02-09,2826743,7,7_51,1,54763,50400,54854.0,50383.0,NaN
4,2016-02-09,2812908,39,39_20,1,27375,22920,27318.0,22931.0,NaN

In [6]:
# Read the weather data
weather16 = pd.read_csv('F:/Ireland/Study/Summer Project/2016weatherClean.csv', delimiter=',')
# weather16['dt'] = pd.to_datetime(weather16['dt'],unit='s')
.weather16 = weather16.sort_values('dt', ascending=False)
weather16 = weather16.reindex(index=weather16.index[::-1])

Here we won't add all features of the weather data to our model. We just select some important ones, including the followings:
- temp
- pressure
- humidity
- wind_speed
- weather_description
- clouds_all
- wind_deg

In [7]:
weather_related = weather16[['dt','temp','pressure','humidity','wind_speed','weather_description','clouds_all','wind_deg']]
weather_related.head()

,dt,temp,pressure,humidity,wind_speed,weather_description,clouds_all,wind_deg
0,1451606400,275.15,1015,80,4,scattered clouds,40,200
1,1451613600,274.15,1016,80,2,scattered clouds,40,170
2,1451620800,276.15,1015,69,3,scattered clouds,40,130
3,1451628000,277.09,1014,69,4,scattered clouds,40,150
4,1451631600,277.09,1013,100,3,broken clouds,75,150

In [8]:
merge_table =  pd.merge(trips16 , leave16, on = ['tripid', 'dayofservice'], how = 'inner')
merge_table.shape

(47479499, 17)

In [9]:
merge_table.head(5)

,dayofservice,tripid,lineid,routeid,direction,plannedtime_arr_x,plannedtime_dep_x,actualtime_arr_x,actualtime_dep_x,suppressed_x,progrnumber,stoppointid,plannedtime_arr_y,plannedtime_dep_y,actualtime_arr_y,actualtime_dep_y,suppressed_y
0,2016-02-09,2824642,145,145_105,2,45668,40800,45375.0,40782.0,NaN,11,2997,41506,41506,41403,41426,NaN
1,2016-02-09,2824642,145,145_105,2,45668,40800,45375.0,40782.0,NaN,10,4151,41452,41452,41367,41384,NaN
2,2016-02-09,2824642,145,145_105,2,45668,40800,45375.0,40782.0,NaN,9,4182,41405,41405,41319,41332,NaN
3,2016-02-09,2824642,145,145_105,2,45668,40800,45375.0,40782.0,NaN,8,4181,41314,41314,41283,41283,NaN
4,2016-02-09,2824642,145,145_105,2,45668,40800,45375.0,40782.0,NaN,7,4180,41243,41243,41238,41251,NaN

In [11]:
merge_table.loc[merge_table['stoppointid']==7270]

,dayofservice,tripid,lineid,routeid,direction,plannedtime_arr_x,plannedtime_dep_x,actualtime_arr_x,actualtime_dep_x,suppressed_x,progrnumber,stoppointid,plannedtime_arr_y,plannedtime_dep_y,actualtime_arr_y,actualtime_dep_y,suppressed_y
28920,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,85,7270,23898,23898,23854,23854,NaN
29005,2016-02-26,2861593,65,65_73,1,69826,63000,70190.0,63106.0,NaN,85,7270,69826,69826,70190,70190,NaN
30077,2016-02-26,2861594,65,65_76,2,75048,70200,75395.0,70240.0,NaN,1,7270,70200,70200,70240,70240,NaN
30163,2016-02-26,2861588,65,65_76,2,32414,25200,31646.0,25011.0,NaN,1,7270,25200,25200,25011,25011,NaN
212659,2016-03-07,2884063,65,65_73,1,23891,19800,23741.0,19901.0,NaN,85,7270,23891,23891,23741,23741,NaN
264116,2016-05-25,3039275,65,65_73,1,69894,63000,69952.0,63134.0,NaN,85,7270,69894,69894,69952,69952,NaN
533985,2016-04-06,3003217,65,65_76,2,32054,25200,31224.0,25064.0,NaN,1,7270,25200,25200,25064,25064,NaN
609796,2016-04-06,3003223,65,65_76,2,74830,70200,74982.0,70240.0,NaN,1,7270,70200,70200,70240,70240,NaN
681386,2016-04-06,3003216,65,65_73,1,24024,19800,23667.0,NaN,NaN,85,7270,24024,24024,23667,23667,NaN
763829,2016-05-23,3039269,65,65_73,1,23620,19800,23867.0,19883.0,NaN,85,7270,23620,23620,23867,23867,NaN
1188189,2016-06-22,3264917,65,65_76,2,74867,70200,NaN,70321.0,NaN,1,7270,70200,70200,70321,70321,NaN
1263100,2016-06-23,3264910,65,65_73,1,23604,19800,24257.0,19830.0,NaN,85,7270,23604,23604,24257,24257,NaN
1634143,2016-03-30,2904987,65,65_73,1,69719,63000,69315.0,62994.0,NaN,85,7270,69719,69719,69315,69315,NaN
1698739,2016-02-23,2861587,65,65_73,1,23898,19800,23891.0,19889.0,NaN,85,7270,23898,23898,23891,23891,NaN
2385049,2016-02-23,2861593,65,65_73,1,69826,63000,69992.0,62980.0,NaN,85,7270,69826,69826,69992,69992,NaN
2385991,2016-02-23,2861594,65,65_76,2,75048,70200,NaN,70260.0,NaN,1,7270,70200,70200,70260,70260,NaN
2386078,2016-02-23,2861588,65,65_76,2,32414,25200,33095.0,25175.0,NaN,1,7270,25200,25200,25175,25175,NaN
2499920,2016-05-26,3039269,65,65_73,1,23620,19800,23805.0,19812.0,NaN,85,7270,23620,23620,23805,23805,NaN
2513196,2016-06-20,3264917,65,65_76,2,74867,70200,74625.0,70128.0,NaN,1,7270,70200,70200,70128,70128,NaN
2637535,2016-05-26,3039275,65,65_73,1,69894,63000,69422.0,63054.0,NaN,85,7270,69894,69894,69422,69422,NaN
3304774,2016-06-20,3264916,65,65_73,1,69056,63000,69482.0,63003.0,NaN,85,7270,69056,69056,69482,69482,NaN
3306559,2016-02-24,2861587,65,65_73,1,23898,19800,23948.0,19841.0,NaN,85,7270,23898,23898,23948,23948,NaN
3306644,2016-02-24,2861593,65,65_73,1,69826,63000,69652.0,63024.0,NaN,85,7270,69826,69826,69652,69652,NaN
3307590,2016-02-24,2861594,65,65_76,2,75048,70200,74664.0,70165.0,NaN,1,7270,70200,70200,70165,70165,NaN
3394266,2016-02-10,2813945,65,65_76,2,32414,25200,32959.0,25203.0,NaN,1,7270,25200,25200,25203,25203,NaN
3635094,2016-05-26,3039270,65,65_76,2,32115,25200,31767.0,25207.0,NaN,1,7270,25200,25200,25207,25207,NaN
3781912,2016-03-24,2904988,65,65_76,2,74830,70200,75472.0,70173.0,NaN,1,7270,70200,70200,70173,70173,NaN
3961606,2016-06-29,3277920,65,65_76,2,74867,70200,75532.0,70557.0,NaN,1,7270,70200,70200,70557,70557,NaN
3971239,2016-04-20,3003217,65,65_76,2,32054,25200,32312.0,25186.0,NaN,1,7270,25200,25200,25186,25186,NaN
4022900,2016-06-21,3264917,65,65_76,2,74867,70200,74706.0,70158.0,NaN,1,7270,70200,70200,70158,70158,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43752450,2016-04-26,3027641,65,65_73,1,69670,63000,69295.0,62922.0,NaN,85,7270,69670,69670,69295,69295,NaN
43810384,2016-05-03,3027642,65,65_76,2,74839,70200,74810.0,70312.0,NaN,1,7270,70200,70200,70312,70312,NaN
43897178,2016-05-27,3039269,65,65_73,1,23620,19800,24008.0,19790.0,NaN,85,7270,23620,23620,24008,24008,NaN
43942267,2016-05-05,3027636,65,65_76,2,31574,25200,NaN,25209.0,NaN,1,7270,25200,25200,25209,25209,NaN
43968926,2016-05-27,3039276,65,65_76,2,75137,70200,75615.0,70546.0,NaN,1,7270,70200,70200,70546,70546,NaN
44363860,2016-03-07,2884064,65,65_76,2,32491,25200,32536.0,25189.0,NaN,1,7270,25200,25200,25189,25189,NaN
45235382,2016-06-08,3220745,65,65_76,2,32228,25200,31073.0,25096.0,NaN,1,7270,25200,25200,25096,25096,NaN
45303142,2016-06-08,3220709,65,65_73,1,23950,19800,23867.0,19857.0,NaN,85,7270,23950,23950,23867,23867,NaN
45303893,2016-06-08,3220746,65,65_76,2,74871,70200,74939.0,70149.0,NaN,1,7270,70200,70200,70149,70149,NaN
45390317,2016-02-29,2884070,65,65_76,2,75263,70200,74708.0,70218.0,NaN,1,7270,70200,70200,70218,70218,NaN
45864132,2016-05-31,3205183,65,65_73,1,23950,19800,23897.0,19804.0,NaN,85,7270,23950,23950,23897,23897,NaN
45864135,2016-05-31,3205220,65,65_76,2,74871,70200,74624.0,70132.0,NaN,1,7270,70200,70200,70132,70132,NaN
46084475,2016-06-23,3264917,65,65_76,2,74867,70200,75344.0,70157.0,NaN,1,7270,70200,70200,70157,70157,NaN
46233423,2016-05-06,3027635,65,65_73,1,23758,19800,23565.0,19818.0,NaN,85,7270,23758,23758,23565,23565,NaN
46430134,2016-05-31,3205184,65,65_73,1,69691,63000,69408.0,62959.0,NaN,85,7270,69691,69691,69408,69408,NaN
46469938,2016-05-05,3027641,65,65_73,1,69670,63000,70160.0,63018.0,NaN,85,7270,69670,69670,70160,70160,NaN
46522685,2016-02-05,2813945,65,65_76,2,32414,25200,NaN,25146.0,NaN,1,7270,25200,25200,25146,25146,NaN
46621328,2016-02-29,2884069,65,65_73,1,70220,63000,70218.0,63010.0,NaN,85,7270,70220,70220,70218,70218,NaN
46756025,2016-02-05,2814638,65,65_76,2,75048,70200,76167.0,71104.0,NaN,1,7270,70200,70200,71104,71104,NaN
46873876,2016-06-07,3220709,65,65_73,1,23950,19800,23894.0,19781.0,NaN,85,7270,23950,23950,23894,23894,NaN
46899355,2016-06-07,3220746,65,65_76,2,74871,70200,74735.0,70176.0,NaN,1,7270,70200,70200,70176,70176,NaN
46903302,2016-06-07,3220710,65,65_73,1,69691,63000,69718.0,62961.0,NaN,85,7270,69691,69691,69718,69718,NaN
46910550,2016-05-23,3039270,65,65_76,2,32115,25200,31706.0,25252.0,NaN,1,7270,25200,25200,25252,25252,NaN
46938918,2016-05-05,3027642,65,65_76,2,74839,70200,76012.0,70555.0,NaN,1,7270,70200,70200,70555,70555,NaN
46987378,2016-06-07,3220745,65,65_76,2,32228,25200,30700.0,25180.0,NaN,1,7270,25200,25200,25180,25180,NaN
47107011,2016-02-12,2813945,65,65_76,2,32414,25200,32780.0,25255.0,NaN,1,7270,25200,25200,25255,25255,NaN
47116122,2016-02-01,2813944,65,65_73,1,23898,19800,24721.0,19801.0,NaN,85,7270,23898,23898,24721,24721,NaN
47116291,2016-02-01,2813950,65,65_73,1,69826,63000,69977.0,63194.0,NaN,85,7270,69826,69826,69977,69977,NaN
47364694,2016-05-23,3039276,65,65_76,2,75137,70200,75588.0,70772.0,NaN,1,7270,70200,70200,70772,70772,NaN
47376364,2016-05-23,3039275,65,65_73,1,69894,63000,70772.0,63074.0,NaN,85,7270,69894,69894,70772,70772,NaN

In [13]:
merge_table.loc[(merge_table['tripid']==2861587) & (merge_table['dayofservice']=='2016-02-26')].sort_values(by='progrnumber')

,dayofservice,tripid,lineid,routeid,direction,plannedtime_arr_x,plannedtime_dep_x,actualtime_arr_x,actualtime_dep_x,suppressed_x,progrnumber,stoppointid,plannedtime_arr_y,plannedtime_dep_y,actualtime_arr_y,actualtime_dep_y,suppressed_y
28994,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,1,7564,19800,19800,19780,19780,NaN
28993,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,2,4521,19964,19964,20007,20039,NaN
28992,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,3,1283,20080,20080,20110,20110,NaN
28991,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,4,4456,20111,20111,20130,20140,NaN
28990,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,5,1284,20140,20140,20162,20162,NaN
28989,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,6,1285,20192,20192,20218,20218,NaN
28988,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,7,1016,20252,20252,20304,20318,NaN
28987,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,8,1017,20284,20284,20345,20345,NaN
28986,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,9,1018,20316,20316,20367,20377,NaN
28985,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,10,1019,20329,20329,20391,20391,NaN
28984,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,11,1020,20345,20345,20407,20407,NaN
28983,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,12,1076,20367,20367,20427,20427,NaN
28982,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,13,1077,20387,20387,20450,20450,NaN
28981,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,14,1078,20416,20416,20478,20478,NaN
28980,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,15,1079,20450,20450,20503,20503,NaN
28979,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,16,1080,20464,20464,20515,20515,NaN
28978,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,17,1081,20484,20484,20541,20548,NaN
28977,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,18,1082,20498,20498,20569,20569,NaN
28976,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,19,1083,20511,20511,20582,20582,NaN
28975,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,20,1085,20533,20533,20607,20607,NaN
28974,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,21,1121,20555,20555,20637,20637,NaN
28973,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,22,1122,20580,20580,20656,20656,NaN
28972,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,23,1123,20599,20599,20672,20672,NaN
28971,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,24,1124,20615,20615,20688,20688,NaN
28970,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,25,1125,20646,20646,20723,20723,NaN
28969,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,26,1127,20686,20686,20758,20758,NaN
28968,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,27,1130,20737,20737,20840,20840,NaN
28967,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,28,2550,20775,20775,20877,20877,NaN
28966,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,29,2551,20814,20814,20915,20915,NaN
28965,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,30,2553,20891,20891,21009,21009,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28999,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,56,4010,21983,21983,22160,22160,NaN
28944,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,57,4009,21992,21992,22168,22168,NaN
28943,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,58,4011,22059,22059,22234,22234,NaN
28942,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,59,5110,22082,22082,22256,22256,NaN
28941,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,60,4012,22107,22107,22279,22279,NaN
28998,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,61,4013,22130,22130,22300,22300,NaN
28940,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,62,4014,22165,22165,22334,22334,NaN
28939,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,63,4098,22191,22191,22360,22360,NaN
28938,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,64,4015,22213,22213,22382,22382,NaN
28937,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,65,4017,22239,22239,22409,22409,NaN
28997,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,66,4018,22288,22288,22457,22457,NaN
28936,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,67,4019,22313,22313,22480,22480,NaN
28935,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,68,4020,22336,22336,22503,22503,NaN
28934,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,69,4100,22353,22353,22515,22515,NaN
28933,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,70,4021,22374,22374,22536,22536,NaN
28996,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,71,4022,22397,22397,22558,22558,NaN
28932,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,72,4023,22430,22430,22592,22592,NaN
28931,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,73,4024,22450,22450,22615,22615,NaN
28930,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,74,4027,22492,22492,22660,22660,NaN
28929,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,75,7250,22544,22544,22703,22703,NaN
28995,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,76,7252,22612,22612,22799,22799,NaN
28928,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,77,7248,22771,22771,22902,22902,NaN
28927,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,78,7254,22872,22872,22989,22989,NaN
28926,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,79,7257,23081,23081,23201,23201,NaN
28925,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,80,7258,23187,23187,23278,23278,NaN
28924,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,81,7260,23233,23233,23318,23318,NaN
28923,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,82,7263,23377,23377,23445,23445,NaN
28922,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,83,7264,23486,23486,23540,23540,NaN
28921,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,84,7268,23761,23761,23738,23738,NaN
28920,2016-02-26,2861587,65,65_73,1,23898,19800,23854.0,19780.0,NaN,85,7270,23898,23898,23854,23854,NaN

In [17]:
merge_table.loc[(merge_table['lineid']=='65B') & (merge_table['dayofservice']=='2016-02-26')].sort_values(by='progrnumber')

,dayofservice,tripid,lineid,routeid,direction,plannedtime_arr_x,plannedtime_dep_x,actualtime_arr_x,actualtime_dep_x,suppressed_x,progrnumber,stoppointid,plannedtime_arr_y,plannedtime_dep_y,actualtime_arr_y,actualtime_dep_y,suppressed_y
221932,2016-02-26,2873712,65B,65B_66,2,44748,41400,45438.0,41379.0,NaN,1,4713,41400,41400,41379,41379,NaN
222515,2016-02-26,2873716,65B,65B_66,2,66948,63000,68310.0,63651.0,NaN,1,4713,63000,63000,63651,63651,NaN
221586,2016-02-26,2866182,65B,65B_66,2,83174,80400,83761.0,80449.0,NaN,1,4713,80400,80400,80449,80449,NaN
222164,2016-02-26,2866174,65B,65B_66,2,41288,37800,43199.0,37812.0,NaN,1,4713,37800,37800,37812,37812,NaN
221525,2016-02-26,2866179,65B,65B_65,1,69378,64800,69201.0,64805.0,NaN,1,7564,64800,64800,64805,64805,NaN
221120,2016-02-26,2871726,65B,65B_65,1,75624,72000,75922.0,72087.0,NaN,1,7564,72000,72000,72087,72087,NaN
222220,2016-02-26,2861743,65B,65B_66,2,38588,35100,38604.0,35008.0,NaN,1,4713,35100,35100,35008,35008,NaN
150166,2016-02-26,2873711,65B,65B_65,1,39097,36000,38937.0,36051.0,NaN,1,7564,36000,36000,36051,36051,NaN
221470,2016-02-26,2866173,65B,65B_65,1,36071,32400,36463.0,32502.0,NaN,1,7564,32400,32400,32502,32502,NaN
221149,2016-02-26,2866177,65B,65B_65,1,58420,54000,58676.0,54065.0,NaN,1,7564,54000,54000,54065,54065,NaN
221642,2016-02-26,2871727,65B,65B_66,2,79274,76500,80864.0,76514.0,NaN,1,4713,76500,76500,76514,76514,NaN
150283,2016-02-26,2866175,65B,65B_65,1,46702,43200,46604.0,43206.0,NaN,1,7564,43200,43200,43206,43206,NaN
221409,2016-02-26,2861742,65B,65B_65,1,34271,30600,33982.0,30669.0,NaN,1,7564,30600,30600,30669,30669,NaN
149868,2016-02-26,2864526,65B,65B_65,1,27546,24600,28462.0,24898.0,NaN,1,7564,24600,24600,24898,24898,NaN
221352,2016-02-26,2871724,65B,65B_65,1,65049,60600,65168.0,60781.0,NaN,1,7564,60600,60600,60781,60781,NaN
222343,2016-02-26,2871723,65B,65B_66,2,59547,55800,60271.0,55921.0,NaN,1,4713,55800,55800,55921,55921,NaN
150223,2016-02-26,2871720,65B,65B_65,1,42697,39600,43514.0,40135.0,NaN,1,7564,39600,39600,40135,40135,NaN
149815,2016-02-26,2861740,65B,65B_65,1,23220,21000,23238.0,21016.0,NaN,1,7564,21000,21000,21016,21016,NaN
222395,2016-02-26,2866172,65B,65B_66,2,32369,27000,32501.0,26959.0,NaN,1,4713,27000,27000,26959,26959,NaN
222452,2016-02-26,2864527,65B,65B_66,2,34169,28800,33696.0,28845.0,NaN,1,4713,28800,28800,28845,28845,NaN
221289,2016-02-26,2861744,65B,65B_65,1,66249,61800,66927.0,62071.0,NaN,1,7564,61800,61800,62071,62071,NaN
222277,2016-02-26,2866178,65B,65B_66,2,63302,59400,64776.0,59371.0,NaN,1,4713,59400,59400,59371,59371,NaN
150107,2016-02-26,2866181,65B,65B_65,1,79526,76500,79859.0,76646.0,NaN,1,7564,76500,76500,76646,76646,NaN
221230,2016-02-26,2873715,65B,65B_65,1,62489,57600,63364.0,57572.0,NaN,1,7564,57600,57600,57572,57572,NaN
149930,2016-02-26,2866171,65B,65B_65,1,26346,23400,25964.0,23355.0,NaN,1,7564,23400,23400,23355,23355,NaN
222107,2016-02-26,2861741,65B,65B_66,2,29801,25200,30669.0,25167.0,NaN,1,4713,25200,25200,25167,25167,NaN
150047,2016-02-26,2871728,65B,65B_65,1,84026,81000,84169.0,80983.0,NaN,1,7564,81000,81000,80983,80983,NaN
221055,2016-02-26,2873717,65B,65B_65,1,72024,68400,72020.0,68371.0,NaN,1,7564,68400,68400,68371,68371,NaN
44251065,2016-02-26,2871729,65B,65B_66,2,87659,84600,87698.0,84582.0,NaN,1,4713,84600,84600,84582,84582,NaN
220996,2016-02-26,2873713,65B,65B_65,1,50302,46800,51221.0,47002.0,NaN,1,7564,46800,46800,47002,47002,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222344,2016-02-26,2866172,65B,65B_66,2,32369,27000,32501.0,26959.0,NaN,58,7564,32369,32369,32501,32501,NaN
221881,2016-02-26,2873712,65B,65B_66,2,44748,41400,45438.0,41379.0,NaN,58,7564,44748,44748,45438,45438,NaN
149878,2016-02-26,2866171,65B,65B_65,1,26346,23400,25964.0,23355.0,NaN,58,4931,26312,26312,25936,25936,NaN
222228,2016-02-26,2866178,65B,65B_66,2,63302,59400,64776.0,59371.0,NaN,58,7564,63302,63302,64776,64776,NaN
222170,2016-02-26,2861743,65B,65B_66,2,38588,35100,38604.0,35008.0,NaN,58,7564,38588,38588,38604,38604,NaN
222286,2016-02-26,2871723,65B,65B_66,2,59547,55800,60271.0,55921.0,NaN,58,7564,59547,59547,60271,60271,NaN
222112,2016-02-26,2866174,65B,65B_66,2,41288,37800,43199.0,37812.0,NaN,58,7564,41288,41288,43199,43199,NaN
222108,2016-02-26,2861741,65B,65B_66,2,29801,25200,30669.0,25167.0,NaN,58,7564,29801,29801,30669,30669,NaN
221996,2016-02-26,2873714,65B,65B_66,2,55746,52200,56031.0,52241.0,NaN,58,7564,55746,55746,56031,56031,NaN
149992,2016-02-26,2866183,65B,65B_65,1,87626,84600,87464.0,84570.0,NaN,58,4931,87590,87590,87442,87442,NaN
150172,2016-02-26,2871720,65B,65B_65,1,42697,39600,43514.0,40135.0,NaN,59,7459,42697,42697,43514,43514,NaN
221062,2016-02-26,2871726,65B,65B_65,1,75624,72000,75922.0,72087.0,NaN,59,7459,75624,75624,75922,75922,NaN
43711659,2016-02-26,2871722,65B,65B_65,1,53902,50400,54381.0,NaN,NaN,59,7459,53902,53902,54381,54381,NaN
221003,2016-02-26,2873717,65B,65B_65,1,72024,68400,72020.0,68371.0,NaN,59,7459,72024,72024,72020,72020,NaN
220944,2016-02-26,2873713,65B,65B_65,1,50302,46800,51221.0,47002.0,NaN,59,7459,50302,50302,51221,51221,NaN
221150,2016-02-26,2866177,65B,65B_65,1,58420,54000,58676.0,54065.0,NaN,59,7459,58420,58420,58676,58676,NaN
149818,2016-02-26,2864526,65B,65B_65,1,27546,24600,28462.0,24898.0,NaN,59,7459,27546,27546,28462,28462,NaN
221180,2016-02-26,2873715,65B,65B_65,1,62489,57600,63364.0,57572.0,NaN,59,7459,62489,62489,63364,63364,NaN
149995,2016-02-26,2871728,65B,65B_65,1,84026,81000,84169.0,80983.0,NaN,59,7459,84026,84026,84169,84169,NaN
150111,2016-02-26,2866181,65B,65B_65,1,79526,76500,79859.0,76646.0,NaN,59,7459,79526,79526,79859,79859,NaN
149936,2016-02-26,2866183,65B,65B_65,1,87626,84600,87464.0,84570.0,NaN,59,7459,87626,87626,87464,87464,NaN
221298,2016-02-26,2871724,65B,65B_65,1,65049,60600,65168.0,60781.0,NaN,59,7459,65049,65049,65168,65168,NaN
149877,2016-02-26,2866171,65B,65B_65,1,26346,23400,25964.0,23355.0,NaN,59,7459,26346,26346,25964,25964,NaN
150231,2016-02-26,2866175,65B,65B_65,1,46702,43200,46604.0,43206.0,NaN,59,7459,46702,46702,46604,46604,NaN
221357,2016-02-26,2861742,65B,65B_65,1,34271,30600,33982.0,30669.0,NaN,59,7459,34271,34271,33982,33982,NaN
150113,2016-02-26,2873711,65B,65B_65,1,39097,36000,38937.0,36051.0,NaN,59,7459,39097,39097,38937,38937,NaN
221416,2016-02-26,2866173,65B,65B_65,1,36071,32400,36463.0,32502.0,NaN,59,7459,36071,36071,36463,36463,NaN
221475,2016-02-26,2866179,65B,65B_65,1,69378,64800,69201.0,64805.0,NaN,59,7459,69378,69378,69201,69201,NaN
221239,2016-02-26,2861744,65B,65B_65,1,66249,61800,66927.0,62071.0,NaN,59,7459,66249,66249,66927,66927,NaN
149759,2016-02-26,2861740,65B,65B_65,1,23220,21000,23238.0,21016.0,NaN,59,7459,23220,23220,23238,23238,NaN

In [10]:
output = merge_table[['dayofservice','tripid','lineid','routeid','direction','progrnumber','stoppointid','plannedtime_arr_y','plannedtime_dep_y','actualtime_arr_y','actualtime_dep_y','suppressed_y']]

In [13]:
output.shape

(47479499, 12)

In [14]:
# Select rows with lineid == 46A and direction == 1 
trips16_46A = trips16.loc[(trips16['lineid'] == '46A') & (trips16['direction'] == 1)]
trips16_46A.head(10)

,dayofservice,tripid,lineid,routeid,direction,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,suppressed
103,2016-02-09,2815441,46A,46A_74,1,62257,57600,62587.0,57639.0,NaN
154,2016-02-09,2822373,46A,46A_74,1,33599,28320,33931.0,28323.0,NaN
199,2016-04-08,3010331,46A,46A_74,1,77695,74400,77565.0,74375.0,NaN
223,2016-04-02,2902305,46A,46A_74,1,66140,61800,66544.0,62003.0,NaN
304,2016-04-02,2905183,46A,46A_74,1,53647,49200,53670.0,49630.0,NaN
330,2016-04-02,2909721,46A,46A_74,1,51847,47400,51699.0,47370.0,NaN
366,2016-04-07,3018107,46A,46A_74,1,61906,57120,62097.0,56944.0,NaN
367,2016-04-07,3014232,46A,46A_74,1,60946,56160,61634.0,56200.0,NaN
368,2016-04-07,3004076,46A,46A_74,1,63346,58560,63126.0,58529.0,NaN
369,2016-04-07,3008876,46A,46A_74,1,62386,57600,62098.0,57579.0,NaN

In [15]:
# Join the trip table and leavetime table, use inner jopz
out = pd.merge(trips16_46A , leave16, on = ['tripid', 'dayofservice'], how = 'inner')

In [16]:
out.shape

(889694, 17)

In [17]:
out['routeid'].unique()

array(['46A_74', '46A_68', '46A_70', '46A_69', '46A_73', '46A_72'],
      dtype=object)

In [18]:
out['comb'] = out['dayofservice'].map(str) + out['tripid'].map(str)
u = out['comb'].unique()

In [19]:
len(u)

16017

Features:
- start_stop
- end_stop
- date
- weather

Target Value:
- Time. (The dearture time of end - The departure time of start)

Notes: The start_stop and end_stop is adjancent.

In [27]:
trip_46A = out['tripid'].unique()
date_46A = out['dayofservice'].unique()

result = pd.DataFrame(columns = ['dt','dayofweek','month','day','arrive_time','start_point','end_point','duration'])

for date_trip in u:
        day_trip = out.loc[(out['comb'] == date_trip)].sort_values(by=['progrnumber'])
        
        if (len(day_trip['progrnumber']) == 59):
            try:
                day_trip.index = range(len(day_trip))

                # Calculate the time between each pair stops
                time = day_trip['actualtime_arr_y'].shift(-1) - day_trip['actualtime_arr_y']
                time.drop(time.tail(1).index,inplace=True)

                # Get the month and the day, month and the day of week
                month = pd.to_datetime(day_trip['dayofservice']).dt.month
                day = pd.to_datetime(day_trip['dayofservice']).dt.day
                dayofweek = pd.to_datetime(day_trip['dayofservice']).dt.dayofweek

                # Add datetime and actual_arrive time as current unix time
                datetime = pd.DatetimeIndex(day_trip['dayofservice']).astype(np.int64)/1000000000 + day_trip['actualtime_arr_y']
                datetime = pd.DataFrame(data={'unixtime':datetime})

                # Conver float to int, this is for the following merge operation
                datetime['unixtime'] = datetime['unixtime'].astype(np.int64)

                # Set End point 
                end_point = day_trip['stoppointid'].shift(-1)
                end_point.drop(end_point.tail(1).index,inplace=True)

                tripid = day_trip['tripid']
                # Merge these columns
                a = pd.concat([datetime,dayofweek,tripid, month, day, day_trip['actualtime_arr_y'], day_trip['stoppointid'], end_point, time], axis = 1)

                # Change the name of columns
                a.columns = ['dt','dayofweek','tripid','month','day','arrive_time','start_point','end_point','duration']
                a.drop(a.tail(1).index,inplace=True)

                # Merge two tables
                r = pd.merge_asof(a, weather_related, on = "dt",direction='nearest')

                result = pd.concat([r, result])

            except:
                pass
        
# result

In [28]:
result.to_csv('result_of_46A.csv')

In [25]:
out.loc[(out['tripid']==2904424) & (out['dayofservice']=='2016-03-28')].sort_values(by='progrnumber')

,dayofservice,tripid,lineid,routeid,direction,plannedtime_arr_x,plannedtime_dep_x,actualtime_arr_x,actualtime_dep_x,suppressed_x,progrnumber,stoppointid,plannedtime_arr_y,plannedtime_dep_y,actualtime_arr_y,actualtime_dep_y,suppressed_y,comb
763852,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,1,807,45000,45000,45011,45011,NaN,2016-03-282904424
763853,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,15,334,46096,46096,45837,45851,NaN,2016-03-282904424
763854,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,16,406,46278,46278,56751,56827,NaN,2016-03-282904424
763855,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,17,747,46378,46378,56893,56908,NaN,2016-03-282904424
763856,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,18,842,46438,46438,56977,56995,NaN,2016-03-282904424
763857,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,19,845,46493,46493,57029,57057,NaN,2016-03-282904424
763858,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,20,846,46562,46562,57142,57182,NaN,2016-03-282904424
763859,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,21,847,46625,46625,57243,57256,NaN,2016-03-282904424
763860,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,22,848,46681,46681,57292,57307,NaN,2016-03-282904424
763861,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,23,2795,46724,46724,57327,57327,NaN,2016-03-282904424
763862,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,24,756,46787,46787,57395,57413,NaN,2016-03-282904424
763863,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,25,757,46847,46847,57453,57467,NaN,2016-03-282904424
763864,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,26,758,46881,46881,57493,57520,NaN,2016-03-282904424
763865,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,27,759,46966,46966,57580,57589,NaN,2016-03-282904424
763866,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,28,760,47029,47029,57641,57952,NaN,2016-03-282904424
763867,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,29,761,47061,47061,57996,57996,NaN,2016-03-282904424
763868,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,30,762,47088,47088,58034,58034,NaN,2016-03-282904424
763869,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,31,763,47140,47140,58117,58117,NaN,2016-03-282904424
763870,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,32,2007,47195,47195,58154,58171,NaN,2016-03-282904424
763871,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,33,2008,47247,47247,58215,58222,NaN,2016-03-282904424
763872,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,34,2009,47292,47292,58269,58279,NaN,2016-03-282904424
763873,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,35,2010,47364,47364,58327,58335,NaN,2016-03-282904424
763874,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,36,435,47437,47437,58388,58401,NaN,2016-03-282904424
763875,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,37,7353,47513,47513,58441,58441,NaN,2016-03-282904424
763876,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,38,4571,47587,47587,58537,58564,NaN,2016-03-282904424
763877,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,39,2013,47630,47630,58602,58611,NaN,2016-03-282904424
763878,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,40,2014,47686,47686,58687,58700,NaN,2016-03-282904424
763879,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,41,4636,47725,47725,58725,58725,NaN,2016-03-282904424
763880,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,42,2016,47799,47799,58760,58760,NaN,2016-03-282904424
763881,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,43,2015,47839,47839,58787,58787,NaN,2016-03-282904424
763882,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,44,2017,47867,47867,58809,58826,NaN,2016-03-282904424
763883,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,45,2018,47901,47901,58853,58853,NaN,2016-03-282904424
763884,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,46,2019,47932,47932,58875,58875,NaN,2016-03-282904424
763885,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,47,2020,47970,47970,58898,58898,NaN,2016-03-282904424
763886,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,48,2021,47997,47997,58933,58933,NaN,2016-03-282904424
763887,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,49,2022,48052,48052,58976,58976,NaN,2016-03-282904424
763888,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,50,4565,48139,48139,59073,59073,NaN,2016-03-282904424
763889,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,51,4566,48180,48180,59087,59087,NaN,2016-03-282904424
763890,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,52,4567,48236,48236,59114,59128,NaN,2016-03-282904424
763891,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,53,2031,48300,48300,59201,59201,NaN,2016-03-282904424
763892,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,54,2032,48359,48359,59258,59258,NaN,2016-03-282904424
763893,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,55,2033,48398,48398,59276,59276,NaN,2016-03-282904424
763897,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,56,2034,48421,48421,59288,59288,NaN,2016-03-282904424
763894,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,57,2035,48477,48477,59423,59423,NaN,2016-03-282904424
763895,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,58,2036,48635,48635,59462,59462,NaN,2016-03-282904424
763896,2016-03-28,2904424,46A,46A_74,1,48771,45000,59482.0,45011.0,NaN,59,2039,48771,48771,59482,59482,NaN,2016-03-282904424